html{
    background-color: blue;

}

body{
    background-color: yellow;
    margin: 0%;
    padding: 2%;
}

header{
    background-color: red;
    text-align: center;
    padding: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    border: 4px solid black;
}

nav{
    background-color: blueviolet;
}

main{
    background-color: pink;
}

